<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p id="demo"></p>
    <script src="/js/script.js"></script>
  </body>
</html>
